


<h2>@ViewBag.Title.</h2>
<p>

    <!DOCTYPE html>
    <html>
    <head>
        <style>
            div.background {
                background-image: url("/pix/smile.png");
                border: 4px solid black;
            }

            div.transbox {
                margin: 30px;
                background-color: #ffffff;
                border: 2px solid black;
                opacity: 0.8;
                filter: alpha(opacity=40); 
            }

                div.transbox p {
                    margin: 5%;
                    font-weight: bold;
                    color: #000000;
                }
        </style>
    </head>
    <body>

        <div class="background">
            <div class="transbox">
                
<p>
    <h2>What Is Crypto Currency?</h2>
    <center><iframe width="900" height="500" src="https://www.youtube.com/embed/IJWGuGRbxec" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></center>

    <h3>
        A cryptocurrency is a digital or virtual currency designed to work as a medium of exchange.
        It uses cryptography to secure and verify transactions as well as to control the creation
        of new units of a particular cryptocurrency. Essentially, cryptocurrencies are limited entries
        in a database that no one can change unless specific conditions are fulfilled.

    </h3>

</p>
  </div>
</div>

</body>
</html>
<!DOCTYPE html>
<html>
<head>
    <p>
    <p>                                                                                                                 </p>
    <p>                                                                                                                 </p>
    <p>                                                                                                                 </p>
    <style>
        div.background {
            background: url(https://tse3.mm.bing.net/th?id=OIP.4O9mx-pXCQ9icZO5KDe5ygHaEP&pid=15.1&P=0&w=281&h=162)
            border: 4px solid black;
        }

        div.transbox {
            margin: 30px;
            background-color: #ffffff;
            border: 2px solid black;
            opacity: 0.8;
            filter: alpha(opacity=40); /* For IE8 and earlier */
        }

            div.transbox p {
                margin: 5%;
                font-weight: bold;
                color: #000000;
            }
    </style>
</head>
<body>

    <div class="background">
        <div class="transbox">


            <h2>History</h2>
            <h3><center><iframe width="900" height="500" src="https://www.youtube.com/embed/4eppnH4ZF2U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></center>
                There have been many attempts at creating a digital currency during the 90s tech boom, with systems
                like Flooz, Beenz and DigiCash emerging on the market but inevitably failing. There were many different
                reasons for their failures, such as fraud, financial problems and even frictions between companies’
                employees and their bosses. 
                <p>                                                                                                     </p>
                Then, in early 2009, an anonymous programmer or a group of programmers under an alias Satoshi Nakamoto
                introduced Bitcoin. Satoshi described it as a ‘peer-to-peer electronic cash system.’ It is completely
                decentralized, meaning there are no servers involved and no central controlling authority. The concept
                closely resembles peer-to-peer networks for file sharing. One of the most important problems that any
                payment network has to solve is double-spending. It is a fraudulent technique of spending the same amount
                twice. The traditional solution was a trusted third party - a central server - that kept records of the
                balances and transactions. However, this method always entailed an authority basically in control of your
                funds and with all your personal details on hand.
               
            </h3>

            </p>



            <h2>What is Blockchain?</h2>
            <h3><center><iframe width="900" height="500" src="https://www.youtube.com/embed/r43LhSUUGTQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></center>
                                                                                                                                  
                A blockchain, originally block chain, is a continuously growing list of records, called blocks, which are linked and
                secured using cryptography. Each block typically contains a cryptographic hash of the previous block, a timestamp and
                transaction data. By design, a blockchain is inherently resistant to modification of the data. It is "an open, distributed
                ledger that can record transactions between two parties efficiently and in a verifiable and permanent way". For use as a
                distributed ledger, a blockchain is typically managed by a peer-to-peer network collectively adhering to a protocol for
                validating new blocks. Once recorded, the data in any given block cannot be altered retroactively without the alteration
                of all subsequent blocks, which requires collusion of the network majority.
            </h3>

            <h2>What is Standard Deviation?</h2>
            <h3><center><iframe width="900" height="500" src="https://www.youtube.com/embed/ATrEEEgjE0U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></center>
                <p>                                                                                                                     </p>
                <p>                                                                                                                     </p>
                In statistics, the standard deviation (SD, also represented by the Greek letter sigma σ or s) is a measure that is used
                to quantify the amount of variation or dispersion of a set of data values.
            </h3>
            </p>
        </div>






