<style>
    img {
        border-radius: 50%;
        height: 250px;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        
    }
</style> 

<h2>Web Application Developers</h2>

<div>
   <a href="https://www.linkedin.com/in/kevin-c-davis/">
        <img src="https://media.licdn.com/dms/image/C4E03AQF-Q2Qxtqtkxw/profile-displayphoto-shrink_800_800/0?e=1526133600&v=alpha&t=wlvbnTMQjqnUyEI5XRc-Pt4nvRG7XIORPkL2SFNg140" alt="Kevin Davis">
    <h3> Kevin Davis </h3>
    </a>
</div>
<div>
    <a href="https://www.linkedin.com/in/jonathan-higgins/">
    <img src="https://media.licdn.com/dms/image/C4E03AQFW-Ftq1tRVog/profile-displayphoto-shrink_800_800/0?e=1526133600&v=alpha&t=FZSdvbe1AM2-o8FZJUoprKdwSKhT5svug53cfrEBA1M" alt="John Higgins">
    <h2> Jonathan Higgins </h2>
    </a>
</div>


<div>
    <a href="https://www.linkedin.com/in/angoudjou/">
        <img src="https://media.licdn.com/dms/image/C4E03AQF-rZRA2bky1g/profile-displayphoto-shrink_800_800/0?e=1526133600&v=alpha&t=-uuWuFa57KIbM218hpFF506-9AkDOZuKtXjXaSjBXjE" alt="Albert Ngoudjou">
    <h3> Albert Ngoudjou </h3>
   </a>
</div>
    
    <div>
        <a href="https://www.linkedin.com/in/marshal-hatley-7a865a157/">
            <img src="https://media.licdn.com/dms/image/C5603AQHwqTN-6eTvUA/profile-displayphoto-shrink_800_800/0?e=1526137200&v=alpha&t=O0CIlzpS5KFifbtFEnLgBqSeLOxtPtyMNh9v0NxYmFk" alt="Marshal Hatley">
            <h3> Marshal Hatley </h3>
        </a>
    </div>




    
   
