<link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.4.4/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.4.4/js/tabulator.min.js"></script>


@{
    ViewBag.Title = "GetData";

}

@ViewBag.data

@ViewBag.ApiText;
<h2>GetData</h2>

