


@{
    ViewBag.Title = "Questions";
}

<h2>Questions</h2>
<form method="get" action="Results">
    <p>Amount:</p>
    <input name="Amount" type="number" />
    <p>Risk:</p>

    <select name="Risk">
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
        <option value="High">High</option>
    </select>
    <p>Growth:</p>
    <input name="Growth" type="number" />

    <p>Period:</p>
    <select name="Period">
        <option value="day">day</option>
        <option value="week">week</option>
        <option value="quarter">quarter</option>
    </select>
    <input type="submit" value="Submit">
</form>
