

@{
    ViewBag.Title = "Questions";
}

<h2>Questions</h2>



<form method="get" action="Results">
    <p>Amount:</p>
    <input name="Amount" type="number" />
    <p>Risk:</p>

    <select name="Risk">
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
        <option value="High">High</option>
    </select>
    